In [6]:
import numpy as np
import pandas as pd
S=pd.Series([3.45,6.78,2.89,67.3,23.65])
print("Series is\n",S)
print("Values in the series is",S.values)
print("Index in the series is",S.index)

Series is
 0     3.45
1     6.78
2     2.89
3    67.30
4    23.65
dtype: float64
Values in the series is [ 3.45  6.78  2.89 67.3  23.65]
Index in the series is RangeIndex(start=0, stop=5, step=1)

In [12]:
S=pd.Series([3.45,6.78,2.89,67.3,23.65],index=['a','b','c','d','e'])
print("Series is\n",S)
print("Values in the series is",S.values)
print("Index in the series is",S.index)
print("Value at index c:",S['b'])

Series is
 a     3.45
b     6.78
c     2.89
d    67.30
e    23.65
dtype: float64
Values in the series is [ 3.45  6.78  2.89 67.3  23.65]
Index in the series is Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Value at index c: 6.78

In [13]:
info={'Leo':97,'Goat':93,'Master':100,'Beast':91}
stud=pd.Series(info)
print("Series is\n",stud)
print("Value in the series is",stud.values)
print("Index of the series is",stud.index)
print("Information of two students:\n",stud['Leo':'Goat'])

Series is
 Leo        97
Goat       93
Master    100
Beast      91
dtype: int64
Value in the series is [ 97  93 100  91]
Index of the series is Index(['Leo', 'Goat', 'Master', 'Beast'], dtype='object')
Information of two students:
 Leo     97
Goat    93
dtype: int64

In [14]:
stud1=pd.Series(info,index=['Leo','Master'])
print("Series is:\n",stud1)

Series is:
 Leo        97
Master    100
dtype: int64

In [20]:
stud=pd.Series(info)
stud1=pd.DataFrame(stud1,columns=['Marks'])
print("DataFrame:/n",stud)

DataFrame:/n Leo        97
Goat       93
Master    100
Beast      91
dtype: int64

In [16]:
stud

Leo        97
Goat       93
Master    100
Beast      91
dtype: int64

In [24]:
T=pd.DataFrame({'Name':['Dhoni','Jaddu','Rutu','Dube','Pathirana'],
               'Gender':['M','M','M','M','M'],
               'Age':[43,38,31,35,21]})
print("DataFrame:/n",T)
print("Values;/n",T.values)

DataFrame:/n         Name Gender  Age
0      Dhoni      M   43
1      Jaddu      M   38
2       Rutu      M   31
3       Dube      M   35
4  Pathirana      M   21
Values;/n [['Dhoni' 'M' 43]
 ['Jaddu' 'M' 38]
 ['Rutu' 'M' 31]
 ['Dube' 'M' 35]
 ['Pathirana' 'M' 21]]

In [ ]:
mark={'A':58,'B':68,'C':78,'D':88}
smark=pd.Series(mark)
print("Series is:/n",smark)
age={}

In [13]:
import pandas  as pd 
i=pd.Index([1,2,3,4,5])
print(i)
print(i.shape,"\n",i.size,"\n",i.ndim,"\n",i.dtype)

Index([1, 2, 3, 4, 5], dtype='int64')
(5,)
 5
 1
 int64

In [16]:
print(i[3])
print(i[2:3])

4
Index([3], dtype='int64')

In [10]:
import pandas as pd
i1=pd.Index([1,2,3,4,5])
i2=pd.Index([5,7,8,9,10])
print(i1.union(i2))
print(i1.intersection(i2))
print(i1.difference(i2))
print(i2.difference(i1))

Index([1, 2, 3, 4, 5, 7, 8, 9, 10], dtype='int64')
Index([5], dtype='int64')
Index([1, 2, 3, 4], dtype='int64')
Index([7, 8, 9, 10], dtype='int64')

In [1]:
import numpy as np
import pandas as pd
R=np.random.randint(10,50,7)
S=pd.Series(R,index=['R1','R2','R3','R4','R5','R6','R7'])
print("Series:\n",S)

Series:
 R1    20
R2    26
R3    45
R4    37
R5    14
R6    20
R7    20
dtype: int32

In [10]:
print('Slicing using exlicit index:\n',S['R2':'R4'])
print('Slicing using implicit index:\n',S[1:4])
print('Fancy index:\n',S[[0,2,3]])
print('Masking:\n',S[(S>20) &(S<30)])

Slicing using exlicit index:
 R2    26
R3    45
R4    37
dtype: int32
Slicing using implicit index:
 R2    26
R3    45
R4    37
dtype: int32
Fancy index:
 R1    20
R3    45
R4    37
dtype: int32
Masking:
 R2    26
dtype: int32

C:\Users\mech&student\AppData\Local\Temp\ipykernel_2300\829081933.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Fancy index:\n',S[[0,2,3]])

In [11]:
print('loc index:\n',S.loc['R2':'R4'])
print('loc index:\n',S.iloc[-1:-4])

loc index:
 R2    26
R3    45
R4    37
dtype: int32
loc index:
 Series([], dtype: int32)

In [16]:
Lakshan=pd.Series({'AM':100,'DH':99,'SH':95,'SHR':84,'LAK':70})
print('Series:\n',Lakshan)
Lingesh=pd.Series({'AM':90,'DH':40,'SH':50,'SHR':64,'LAK':54})
print('Series:\n',Lingesh)
D=pd.DataFrame({'Sub1':Lakshan,'Sub2':Lingesh})
print('DataFrame:/n',D)

Series:
 AM     100
DH      99
SH      95
SHR     84
LAK     70
dtype: int64
Series:
 AM     90
DH     40
SH     50
SHR    64
LAK    54
dtype: int64
DataFrame:/n      Sub1  Sub2
AM    100    90
DH     99    40
SH     95    50
SHR    84    64
LAK    70    54

In [ ]:
print('Dictorinary:\n',S.loc['R2':'R4']